body{
    font-size: 62.5%;
    font-family:Arial;
    min-height: 100vh;
    margin: 0;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color:antiquewhite;
  }
  
  h1{
    font-size:1.5rem;
    text-align:center;
  }

  .password{
      background-color: white;
      padding: 1rem;
      margin: 1rem auto;
      text-align: center;
      border: 1px solid black;
      border-radius: .5rem;
      width: 70%;
      height: inherit;
      word-break: break-all;
  }
  
  form{
    font-size:1rem;
    width:60%;
    max-width: 500px; 
    min-width: 250px;
    background-color:lightblue;
    border: 2px solid darkblue;
    border-radius: 10px;
    display:flex;
    flex-direction:column;
    
  }
  
  label{
    margin: 1.5rem 1rem;
    display: flex;
    justify-content:space-between;
  }

  input[type="checkbox"]{
    margin-right:7rem;
    transform: scale(2);
  }

  input[type="number"]{
      max-width: 2rem;
      border-radius: 5px;
      border: 2px solid gray;
      height: 1.15rem;
  }

  .rangeSlider{
    padding: 0 2rem;
  }
  
  
  button{
    font-size:1rem;
    width:50%;
    margin: 1rem auto;
    background-color: darkblue;
    color: white;
    border: 2px solid darkblue;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    outline:none;
    cursor: pointer;
  }
  
  button:hover{
    background-color: white;
    color: darkblue;
    border-color:darkblue;
  }

  footer{
    width: 58%;
    max-width: 480px;
    text-align: right;
  }

  @media only screen and (max-width: 718px) {
    form{
      width: 80%;
    }
    footer{
      width: 78%;
    }
  }

  @media only screen and (max-width: 522px) {
    form{
      width: 90%;
    }
    footer{
      width: 88%;
    }
  }

  @media only screen and (max-width: 464px) {
    .rangeSlider{
      padding: 0;
    }
    input[type="range"]{
      display: none;
    }
    input[type="number"]{
      margin-right:2.5rem;
      text-align: center;
      border-radius: 5px;
      transform: scale(1.15);
      height: 1.2rem;
    }
    input[type="checkbox"]{
      margin-right: 3rem;
    }
  }

  @media only screen and (max-width: 394px){
    button{
      width: 80%;
    }
  }