body{
    font-size: 62.5%;
    font-family:Arial;
    min-height: 100vh;
    margin: 0;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color:antiquewhite;
  }
  
  h1{
    font-size:1.5rem;
    text-align:center;
  }

  .password{
      background-color: white;
      padding: 1rem;
      margin: 1rem auto;
      text-align: center;
      border: 1px solid black;
      border-radius: .5rem;
      width: 70%;
      height: 2rem;
      word-break: break-all;
  }
  
  form{
    font-size:1rem;
     width:60%;
    max-width: 500px; 
    min-width: 250px;
    background-color:lightblue;
    border: 2px solid darkblue;
    border-radius: 10px;
    display:flex;
    flex-direction:column;
    
  }
  
  label{
    margin: 1.5rem 1rem;
    display: flex;
    justify-content:space-between;
  }
 
  input[type="checkbox"]{
    margin-right:7rem;
    transform: scale(2);
  }

  input[type="number"]{
      max-width: 2rem;
      text-align: center;
  }

  .rangeSlider{
    padding: 0 2rem;
  }
  
  
  button{
    font-size:1rem;
    width:50%;
    margin: 1rem auto;
    background-color: darkblue;
    color: white;
    border: 2px solid darkblue;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    outline:none;
    cursor: pointer;
  }
  
  button:hover{
    background-color: white;
    color: darkblue;
    border-color:darkblue;
  }